.nav{
    display: flex;
    justify-content: space-between;
    background-color: #212428;
    align-items: center;
    padding:10px 40px;
    position:sticky;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;

}
.nav img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:60%
}
.nav .logo{
    width: 70px;
}
.navlinks ul{
    position: relative;
    display: flex;
    gap: 40px;
    list-style-type: none;

}
.navlinks ul li a {
   
    font-family:sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    color:  rgb(214, 214, 214)
}
.navlinks ul li .hireme{
    color: #ff014f;
    font-weight: 600;
    cursor: pointer;
  border: 1px solid #212428;
  background: linear-gradient(145deg, #23272b, #1e2024);
  box-shadow: 0 4px 10px #0000004d;
  outline: none;
  padding: 14px;
    font-size: 15px;
    text-transform: uppercase;
}
.navlinks .menu{
    color: red;
    display: none;
    font-size: 30px;
    outline: none;
    border: none;
    cursor: pointer;

}

@media only screen and (max-width: 912px) {
    .navlinks ul{
        display: none;
    
    } 
    .navlinks .menu{
        display: block;
    }
  }